# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Build
dist/
.next/
out/

# Logs / debug
*.log
npm-debug.log*

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Misc
*.tsbuildinfo
